<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <% if (error) { %>
        <div class="alert alert-danger text-center">
            <%= error %>
        </div>
        <% } %>
    <h1 class="h1 text-center pt-2 pb-5">Login</h1>
    <form action="/admin/logged" method="post" class="container">
        <input type="hidden" name="original_url" value="<%= originalUrl %>">
        <input type="email" name="email" placeholder="Email" required class="form-control mt-2 mb-4">
        <input type="password" name="password" placeholder="Password" required class="form-control mt-2 mb-4">
        <input type="submit" value="Log In" class="btn btn-warning text-white mt-2"> 
    </form>
</body>
</html>