header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
}

.backdrop-path {
    width: 100%;
    height: 75%;
    max-width: 650px;
    background-color: rgba(255, 255, 251, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 251, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overview-text {
    text-indent: 45px;
}

.trailer-video {
    width: 80%;
    height: 350px;
    max-width: 550px;
}